{% extends "../base.html" %}
{% load static %}

{% block title %}
  Post Quote
{% endblock title %}

{% block body %}
{% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Renders form fields as <p> tags -->
    <button type="submit">Post Quote</button>
</form> {% endcomment %}

{% if form.errors %}
<ul>
    {% for field, errors in form.errors.items %}
        <li>{{ field }}: {{ errors|join:", " }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="form-wrapper">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
        {{ form.verse.label_tag }}
        {{ form.verse }}
        </div>
        <div class="form-group">
        {{ form.holy_book.label_tag }}
        {{ form.holy_book }}
        </div>
        <div class="form-group">
        {{ form.verse_ref.label_tag }}
        {{ form.verse_ref }}
        </div>

        <button type="submit" class="btn btn-create_quote">Post a Quote</button>
    </form>
</div>

{% endblock body %}