{% extends "../base.html" %}
{% load static %}

{% block title %}
  Home
{% endblock title %}

{% block body %}
<div class="hero-section">
  <div class="text-wrapper">
    <h1 class = "hero_h1">Share Your Favorite Christian Quotes and Inspire Others</h1>
    <p class = "hero_p">
      Join a community of Christians to share inspiring Christian quotes,explore others' insights.
    </p>
  </div>
  <div class="cta-buttons">
    <a href="#post-quote" class="cta-button">
       Post A Verse<span class="material-symbols-outlined">arrow_forward</span>
    </a>
    <a href="#explore-quotes" class="cta-button">
      Explore Verses<span class="material-symbols-outlined">arrow_forward</span>
    </a>
  </div>
</div>
{% endblock body %}