{% load static %}

<div class="navbar">
    <div class="logo-text">
        <a href="{% url "homepage" %}" class="">CCQ</a>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url "create_quote" %}" class="a_btn">Post A Quote</a>
    
    
    <div class="profile-pic-container">
        <img src="{% static 'img/pp.jpg' %}" alt="Profile" id="profileMenuToggle" class="profile-pic">

        <div id="menu" class="menu">
            <ul>
                <li><a href="#">My GPTs</a></li>
                <li><a href="#">Customize ChatGPT</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Upgrade Plan</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
    </div>
    {% else %}
    <a class="btn" href="{% url "account_login" %}">Log In</a>
    {% endif %}
</div>